<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CV Stoyan Ivanov</title>


    <link rel="stylesheet"  href="/css/cs.css"/>

    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/android-icon-96x96.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

<h1 class="index-h1">
    Welcome to my CV
</h1>
<header>

    <nav class="nav-index">
        <ul>
            <li class="index-li"><a class="index-a" th:href="@{Index/info}">About me</a></li>
        </ul>
    </nav>

</header>


</body>
</html>