<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CV Stoyan Ivanov</title>


    <link rel="stylesheet" href="/css/cs.css">

    <link rel="icon" type="image/png" sizes="96x96" href="./images/android-icon-96x96.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>


<header>



    <div class="info-div">
        <p class="info-div-p1">Email: stoyan.ivanov-1997@abv.bg</p>
    </div>

    <div>
        <p class="info-div-p1">Phone Number : +359 895 433 522 </p>
    </div>


    <div class="img">
        <img class="img" src="/images/my.jpg" alt="Wrong">
    </div>

    <nav class="info-nav">
        <h1 class="info-h1">Personal Details</h1>
        <p class="info-p"> First name: Stoyan</p>
        <p class="info-p"> Last name: Ivanov</p>
        <p class="info-p"> Gender: Male</p>
        <p class="info-p"> Birth date: 23.09.1997</p>
        <p class="info-p">I live in: Sofia/Bulgaria</p>




        <h1 class="info-h1">Skills</h1>

        <p class="info-p">Language: Java</p>
        <p class="info-p">Excellent knowledge of OOP , Data structures</p>
        <p class="info-p">Intermediate level of spoken English</p>
        <p class="info-p">Relational DataBase (MySql)</p>
        <p class="info-p">Basic knowledge in Spring</p>


        <h1 class="info-h1">Education</h1>

        <p class="info-p">Period: January 2020 - till January 2022</p>
        <p class="info-p">Major: Java Backend Developer</p>
        <p class="info-p">Level: College</p>
        <p class="info-p">School: Software University "SoftUni"</p>
        <p class="info-p">Location: Sofia</p>

        <h1 class="info-h1">Other</h1>

        <p class="info-p">Responsible, disciplined and good in teamwork.</p>



    </nav>


</header>

</body>
</html>